@model KBD_PFI.Models.Photo
@{
    ViewBag.Title = "Détails de photo";
    int currentPhotoId = (int)Session["currentPhotoId"];
    var user = (KBD_PFI.Models.User)Session["ConnectedUser"];
}
<div id="DetailsPanel">
    <h2>@Model.Title</h2>
    <img src="@Model.Image" alt="@Model.Title" style="max-width:500px;" />
</div>
<hr />
<div class="commentFooter">
    <h4 style="margin-left:22px;">Commentaires</h4>
</div>
<details open style="position:relative; top:-40px;" id="commentDetails">
    <summary style="border: none; background: none;"></summary>
    <div class="commentsSection" id="commentsSection">
        @Html.Action("Comments", new { photoId = currentPhotoId, parentId = 0 })
    </div>
</details>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/SiteScripts.js"></script>