
@{
    ViewBag.Title = "Liste des photos";
}

<div id="PhotosPanel" class='photosLayout'> <!-- Auto refreshed panel --></div>

@section Scripts {
   <script>

       $(() => {
           let PhotosPanel = new AutoRefreshedPanel("PhotosPanel", "/Photos/GetPhotos", 5);
       })
    </script>
}