@{
    ViewBag.Title = "Commentaire";
}



<div id="CommentsPanel" class="commentsLayout"> </div>

@section Scripts{
    <!--Il me reste ça à faire fonctionner pour que le ToggleLike et le ToggleComment fonctionne(ToggleComment n'a pas encore été implémenté')-->
    @Scripts.Render("~/SiteScripts.js") <!--Pas sur pour ça-->
    <script>

        $(() => {
            let CommentsPanel = new AutoRefreshedPanel("CommentsPanel", "/Photos/GetComments", 5);
        })

        let commentsSection;
        let scrollAnimationSpeed = 1000;
        $(() => {
            detailsPanel = new AutoRefreshedPanel("DetailsPanel", "/Photos/GetDetails", GPRR, detailsPanelAttachEvents);
            commentsSection = new AutoRefreshedPanel("commentsSection", "/Photos/GetComments", GPRR, commentsSectionAttachEvents);
        })


    </script>

}
