/* Hide reveal password */
::-ms-reveal {
    display: none;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
label,
input,
textarea {
    max-width: 450px;
}

label {
    color: dodgerblue;
    font-weight: bold;
}

/* Styles ajoutés */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome, Edge, Opera and Firefox */
    cursor: default;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.appLogo {
    height: 36px;
}

.cmdIcon {
    font-size: 1.5rem;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: rgb(0, 87, 204);
    text-align: center;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
}

.redIcon {
    font-size: 1.5rem;
    -webkit-text-stroke-color: red !important;
    -webkit-text-fill-color: red !important;
    text-align: center;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
}


.infoIcon {
    font-size: 1.2rem;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: darkgray;
    text-decoration: none;
}

.menu-icon-layout {
    display: flex;
    justify-content: flex-end;
}

.unselected {
    text-decoration: none;
    color: lightgray;
}

    .unselected:hover {
        color: aqua;
    }

label {
    margin-top: 8px;
}

.noDecoration {
    color: black;
    text-decoration: none;
}

#main {
    padding: 8px;
    max-width: 800px;
    min-width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    height: 100vh;
    background-color: rgb(239, 239, 239);
}

divx, imgx {
    border: 1px solid red;
}

#header {
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: white;
    display: grid;
    grid-template-columns: 40px auto auto;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 8px;
}

#search {
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 8px;
}

.actionTitle {
    display: flex;
    font-size: 1.1em !important;
    font-weight: bold;
    gap: 8px;
}

#content {
    border: 1px solid #ccc;
    border-radius: 9px;
    width: 100%;
    padding: 8px;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scroll-snap-type: y mandatory;
    background-color: white;
    padding-bottom: 8px;
}

.favicon {
    text-align: center;
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

.faviconBig {
    text-align: center;
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    height: 36px;
    width: 36px;
}

details {
    /* source : https://nerdy.dev/open-and-close-transitions-for-the-details-element*/

    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
    }

    &::details-content

{
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility 1s allow-discrete, opacity 0.75s, block-size 0.75s;
}

&[open]::details-content {
    opacity: 1;
    block-size: auto;
}

}

details div {
    margin-left: 6px;
}

.ui-datepicker {
    margin-top: 12px;
    width: 92%;
    max-width: 450px;
    font-size: 20px;
}

summary {
    background: lightgray;
    padding-left: 8px;
    height: 34px;
    border: 1px solid white;
    border-radius: 6px;
    font-weight: bold;
}

    summary::marker {
        font-size: 20px;
    }

fieldset {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.legend {
    font-size: 1em;
    color: dodgerblue !important;
    padding-bottom: 10px;
    font-weight: bold;
}

.form_layout {
    display: grid;
    grid-template-columns: auto 265px;
    gap: 10px;
}

.imageControl {
    border-radius: 0.375rem;
    border: 1px solid #ddd;
}

@media screen and (max-width: 560px ) {
    .form_layout {
        display: block;
    }
}

.details_layout {
    display: grid;
    grid-template-columns: 250px 265px;
    gap: 10px;
}

@media screen and (max-width: 560px ) {
    .details_layout {
        display: block;
    }
}

.xsmallAvatar {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transform: translateX(-5px);
}

.smallAvatar {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.dropdown-item a {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    text-decoration: none;
    gap: 6px;
}

.mediumAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.largeAvatar {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 1px solid #ccc;
}

.loginJournalLayout {
    display: grid;
    grid-template-columns: 215px 45px 12px 45px 60px auto;
    align-items: center;
    height: 50px;
}

@media screen and (max-width: 750px ) {
    .loginJournalLayout {
        grid-template-columns: 215px 45px 12px 45px 60px 0px;
    }

    .extraJournalInfo {
        display: none;
    }
}

.userItem {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.UserSmallAvatar {
    width: 40px;
    height: 40px;
    border-radius: 35px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.UserMediumAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
