@{
    ViewBag.Title = "A propos";
}
<h2>Gestionnaire de photos</h2>
<hr />
<p>
    Site de partage de photos entre usagers.
</p>
<pre>
Auteur/Enseignant: Nicolas Chourot
Cours: 420-KBD-LG 
       Développement d'applications Web II
Hiver 2025

Département d'informatique
Collège Lionel-Groulx
</pre>
